<!DOCTYPE html>
<html>
    <head>
<% include ../partials/head.ejs %>
    </head>
    <body>

        <% include ../partials/header.ejs%>

            <div class="welcome">
            <h1>Edit Event</h1>

            <form action="/events/edit/<%=data.id%>?_method=PUT" method="POST">

                <input type="text" value="<%=data.title%>" placeholder="Title" name="title" /><br/>
                <input type="text" value="<%=data.date%>" placeholder="Date" name="date" /><br/>
                <input type="text" value="<%=data.location%>" placeholder="Location" name="location" /><br/>
                <textarea placeholder="Description" name="description">value="<%=data.description%>"</textarea>

                <input type="submit" name="" value="Edit Event"/>

            </form>


        </div>

            <% include ../partials/footer.ejs%>
    </body>
</html>


<!-- username:  String,
title:  String,
date: String,
description: String,
location: String,
volunteers: Array -->
