<!DOCTYPE html>
<html>
    <head>
<% include ../partials/head.ejs %>
    </head>
    <body>

        <% include ../partials/header.ejs%>

            <div class="welcome">
            <h1>Volunteers</h1>
            <div><a href="/vol/new" class="button-primary button-round button-shadow evbtn">Add Volunteer</a></div>


            <div class="cardcont">
                <form action="/vol/assign/<%=event%>" method="POST">
            <% for (vol of data){%>
                <div class="card">

       <h3 class="card-title"><%=vol.name%></h3>
       <p><%=vol.phone%></p>
       <p><%=vol.email%></p>
       <input type="checkbox" name="<%=vol.name%>" />
        </div>
            <%}%><br><Br>
            <input type="submit" name="" value="Assign Volunteers"/>
        </form>
            </div>
            *the view pages are shareable with the public!
        </div>

            <% include ../partials/footer.ejs%>
    </body>
</html>
