<!DOCTYPE html>
<html>
    <head>
<% include ../partials/head.ejs %>
    </head>
    <body>

        <% include ../partials/header.ejs%>

            <div class="welcome">
            <h1>Edit Volunteer</h1>

            <form action="/vol/edit/<%=data.id%>?_method=PUT" method="POST">

                <input type="text" value="<%=data.name%>" placeholder="Name" name="name" /><br/>
                <input type="text" value="<%=data.age%>" placeholder="Age" name="age" /><br/>
                <input type="text" value="<%=data.phone%>" placeholder="Phone" name="phone" /><br/>
                <input type="text" value="<%=data.email%>" placeholder="Email" name="email" /><br/>
                <input type="text" value="<%=data.skills%>" placeholder="Skills" name="skills" /><br/>
                <textarea placeholder="Notes" name="notes"><%=data.notes%></textarea>

                <input type="submit" name="" value="Edit Volunteer"/>

            </form>


        </div>

            <% include ../partials/footer.ejs%>
    </body>
</html>


<!-- username:  String,
title:  String,
date: String,
description: String,
location: String,
volunteers: Array -->
